{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
  {% if title %}
  <title> {{title}}</title>
  {% else %}
    <title>Mintz_Photos </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>
<body>
    
    {% block content %} <h4 class="text-center">Helloooww</h4>{% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock scripts %}
</body>
</html>