{% load static %}
{% load bootstrap3 %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/location.css' %}">

{% endblock %}

<body>
	
	<div class="container py-5">
		<!-- For Demo Purpose -->
		<mark><a href="{% url 'home' %}">Go back to Homepage</a></mark>
		<br><br>
		<header class="text-center">
		</header>
		<div class="py-5">
		  <div class="row">
			{% for pics in images %}
			<div class="col-lg-6">
			  <div class="hover hover-1 text-white rounded" data-toggle="modal" data-target="#lightbox">
				  <a href="{{pics.image.url}}" class="fancybox" rel="ligthbox" >
				<img src="{{pics.image.url}}"  alt="" >
				<div class="hover-overlay"></div>
				<div class="hover-1-content px-5 py-4">
				  <h6 class="hover-1-title text-uppercase font-weight-bold mb-0"><mark>{{pics.name}}</mark><br><span class="font-weight-light"></span></h6>
				  <p class="hover-1-description font-weight-light mb-0"><mark>{{pics.description}}</mark></p>
				</div>
				</a>
			  </div>
			  <br><br>
			</div>
			{% endfor %}
		  </div>
		</div>
	<!-- footer -->
	  </body>
	<!-- footer -->
	<script>
		$(document).ready(function(){
	$(".fancybox").fancybox({
		  openEffect: "none",
		  closeEffect: "none"
	  });
	  
	  $(".zoom").hover(function(){
		  
		  $(this).addClass('transition');
	  }, function(){
		  
		  $(this).removeClass('transition');
	  });
	});
	</script>
	
	
	
	
	
	
	
	

<script>

</script>